.container{
    height: 400px;
    width: 600px;
    background-color: aqua;
    position: relative;
    left: 450px;
    top: 150px;
}


#box1{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: red;
    top: 50px;
    left: 20px;
}
#box2{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: blue;
    top: 0;
    right:0px;
}
#box3{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgb(14, 22, 19);
    top: 150px;
    right:0px;
}