body{
    margin: 0;
    padding: 0;
}

.header{
    height: 750px;
    width: 100%;
    background-image: url("landing-bg.jpg");
    background-size: cover;
}


.text1{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 200px;
    left: 200px;
    /* letter-spacing: 5px; */
}

#med{
    margin-bottom: 20px;
}

.text2{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 200px;
    left: 200px;
    line-height: 0.6;
}

.text2 p{
    margin: 0;
}


.button1{
    margin-top: 20px;
    width: auto;
    height: 50px;
    display: inline-block;
    /* display: flex; */
    /* position: absolute; */
    /* top:0; */
   
}


.button-class{
    background: rgb(253, 251, 251);
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    border-radius: 30px;
    display: flex;
    position: relative;
    top:250px;
    left: -150px;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
}


.image{
    height: 500px;
    width: 500px;
    display: flex;
    position: relative;
    bottom: 90px;
    right: 0;
    left: 710px;
    margin:0;
    /* border: 5px solid red; */
    /* background-image: url("iphone.png"); */
}

.image img{
    top: 40px;
    width: 400px;
    height: 400px;
    position: relative;
    top: 0px;
    left: 0px;
}

.image2{
    height: 500px;
    width: 500px;
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 88px;
    /* left: 200px; */
    /* top: 100px; */
    margin:0;
    /* border: 5px solid rgb(226, 237, 11); */
    /* background-image: url("iphone.png"); */
}


.main{
    margin: 0;
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom, rgb(18, 34, 74) , rgb(105, 94, 219));
    height: 800px;
    width: 100%;

}

.mainimage{
    height: 600px;
    width: 40%;
    position: relative;
    /* background-color: rgb(30, 205, 74); */
    top: 100px;
    left: 150px;
}

.mainimage img{
    height: 600px;
    width: 600px;

}

.maintext{
    height: 600px;
    width: 50%;
    /* background-color: black; */
    position: relative;
    
    left: 700px;
    bottom: 465px;
    /* border: 1px solid yellowgreen; */

}
#what{
    font-size: 5opx;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    margin-top: 0;
    position: relative;
    left: 10px;
    /* top: 20px; */
}

#circle1{
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    background-image: linear-gradient(to bottom, rgb(5, 12, 63) , rgb(255, 14, 215)); ;
}
#circle1{
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    background-image: linear-gradient(to bottom, rgb(5, 12, 63) , rgb(255, 14, 215)); ;
}
#circle2{
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 60px;
    background-image: linear-gradient(to bottom, rgb(5, 12, 63) , rgb(255, 14, 215)); ;
}
#circle3{
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 110px;
    background-image: linear-gradient(to bottom, rgb(5, 12, 63) , rgb(255, 14, 215)); ;
}
#circle4{
    background: lightblue;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    top: 160px;
    background-image: linear-gradient(to bottom, rgb(5, 12, 63) , rgb(255, 14, 215)); ;
}

#circle1png{
    height: 50px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 12px;
}
#circle2png{
    height: 50px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 15px;
}
#circle3png{
    height: 50px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 10px;
}
#circle4png{
    height: 50px;
    width: 50px;
    position: relative;
    top: 8px;
    left: 10px;
}


.circletext{
    position: absolute;
    top: 40px;
    left: 100px;
    color: white;

}

.circletext h1{
    font-size: 30px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.circletext p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 5px;
}
#circletext2{
    position: absolute;
    top: 160px;
    left: 100px;
    color: white;

}
#circletext3{
    position: absolute;
    top: 280px;
    left: 100px;
    color: white;

}
#circletext4{
    position: absolute;
    top: 400px;
    left: 100px;
    color: white;
}
#button5{
    position: absolute;
    top: 550px;
    left: 0;
    color: white;
}
.mainbutton button{
    height: 50px;
    width: 250px;
    background-color: yellowgreen;
    /* padding: 15px; */
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}


.maintext2{
    /* height: 500px;
    width: 900px; */
    /* background-color: yellow; */
    background-image: linear-gradient(to top, rgb(18, 34, 74) , rgb(105, 94, 219));
    height: 500px;
    width: 100%;
    margin: 0;
    
} 
.mainimage2{
    background-image: url("monkey.webp");
    background-size: cover;
    height: 300px;;
    width: 250px;
    position: relative;
    top: 80px;
    left: 300px;
    border: 2px solid black;
    border-radius: 15px;
    /* margin-right: 0; */
    display: inline-block;
}

.drift{
    height: 400px;
    width: 50%;
    position: relative;
    /* background-color: red; */
    display: inline-block;
    left: 443px;
    bottom:0;
    /* border: 2px solid black; */
}

#p1{
    color: white;
    margin: 0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#p2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0 20px 0;
    font-size: 16px;
    font-weight: bolder;
}
#p3{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
}

.footer{
    width: 100%;
    height: 500px;
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
}

#box1{
    height: 200px;
    width: 200px;
    position: relative;
    left: 150px;
    top: 100px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.footerboxtitle{
    margin: 0;
}
.footlist{
    list-style-type: none;
    margin-top: 20px;
    padding:0px 0px 0px 0px;
    line-height: 1.5;
}

#box2{
    height: 200px;
    width: 200px;
    position: relative;
    left: 200px;
    top: 100px;
    border: 2px solid red;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}
#box3{
    height: 200px;
    width: 200px;
    position: relative;
    left: 250px;
    top: 100px;
    border: 2px solid red;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}