body{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    justify-content: center;
    display: flex;

}
p:hover{
    color: white;
    border: 2px solid fuchsia;
font-weight: bolder;
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
text-transform:uppercase;
background-color: black;
}