*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container{
    height: 200px;
    width: 600px;
    background-color:rgba(144, 235, 9, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    background-color: aqua;
    color: black;
}
td{
    display: inline-block;
}

form{
    background-color: red;
}
.h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
    /* position: relative;
    top: 0;
    left:700px; */
    display: flex;
    justify-content: center;
    align-items: center;
}